##############basic###################
.vscode
*.pdf
*.doc
*.docx
*.rar
*.txt
*.html
*.jpg
*.chm
*.log
*.zip
*.xml
tmp*

##############modelsim###################
work
*.mpf
*.mti
*.wlf
*.vstf
wlf*
transcript
virtuals.do
wave.do
*.ini

##############vivado###################
.Xil
*.cache
*.hw
*.ioplanning
# IP选项改变可以重新生成
*.ip_user_files
*.runs
*.tmp
.cxl.ip

*.jou
*.log
*.str
*.sh
*.udo
*.f
*.do

ies
questa
vcs
xsim

# IP一般情况下只需要xci文件，vivado就可以重新生成
doc
hdl
sim
simulation
synth
*.veo
*.vho
*.xml

# zynq cpu 目录忽略文件。zynq处理器默认命名为:cpu
# *.ui
# cpu_processing_system7_0_0
# bd/cpu/ip/
# hw_handoff
# bd/cpu/ipshared/
# bd/cpu/sim/
# bd/cpu/synth/
# bd/cpu/ui/

# sdk忽略文件
# .metadata
RemoteSystemsTempFiles
Debug
